.mainDiv{
    background-image: url('https://img.freepik.com/free-vector/glitch-error-404-page_23-2148105404.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}